/* ABOUT TRANSITIONS */
.recent-reads {
    margin-left: 2vw;
}

#flyin {
    transform: translateX(100%);
    opacity: 0;
    transition: 1200ms;

}

#flyin.run {
    opacity: 1;
    transform: translateX(0%);
}

#flyin2 {
    transform: translateX(100%);
    opacity: 0;
    transition: 1300ms;
}

#flyin2.run {
    opacity: 1;
    transform: translateX(0%);
}


#flyin3 {
    transform: translateX(100%);
    opacity: 0;
    transition: 1400ms;
}

#flyin3.run {
    opacity: 1;
    transform: translateX(0%);
}

#profile {
    transform: translateX(-100%);
    opacity:0;
    max-width: 50vw;
}

#profile.run {
    opacity:1;
    transform: translateX(0%);
    transition: 1200ms;
}

#profile.col-sm-6.run {
    opacity:1;
    transform: translateX(0%);
    transition: 1200ms;
}




#headfly {
    transform: translateX(-100%);
    opacity:0;
    transition: 900ms;
}

#headfly.run {
    opacity:1;
    transform: translateX(0%);
}

#headfly.section-1.banner.run {
    opacity:1;
    transform: translateX(0%);
}