<<<<<<< HEAD
body, html {
    background-size: cover;
    background-color: #F2F2F2;

    /*overflow: scroll;*/
    font-family: "Comfortaa", sans-serif;
    color: #909090;
    padding-left: 10px;
    padding-right: 10px;
    position: center;
    text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;


	width: 100% !important;
	height: 100% !important;
=======
body {
  background-color: #E8F6FE;
  background-size: cover;
  /*overflow: scroll;*/
  font-family: "Avenir Next", sans-serif;
  color: #86CEFE;
  padding-left: 10px;
  padding-right: 10px;
  position: center;
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
}




#cafe {
  border: solid white 2px;
  padding: 15px;
  margin-right: 20px;
  vertical-align: middle;
  float: left;
}

p {
  width: 85%;
  padding: 20px;
  position: relative;
}

.soft-research {
  margin-left: 50px;
  width: 75%;
  padding-top: 5px;
}

#main-name {
<<<<<<< HEAD
    color: #444444;
    padding: 5px;
    font-size: 50px;
    font-weight: normal;
    width: 300px;
    /*text-align: center;*/
    /*horiz-align: center;*/
}

.dropbtn {
    background-color: white;
    display: inline-block;
    color: white;
    background: none;
    font-family: "Comfortaa", sans-serif;
    border: none;
    font-size: 20px;
    width: 120px;
    text-align: center;

}

.page-buttons {
    display: inline-block;
    color: gray;
    background: none;
    font-family: "Comfortaa", sans-serif;
    border: none;
    font-size: 20px;
    width: 120px;
    text-align: center;
}

.page-buttons:hover {
    color: white;
    background: rgba(200, 200, 200, .5);
    text-decoration: underline;
    text-align: center;
}

.nav-logo {
    height: 80px;
    opacity: 100%;
    z-index: -1;
=======
  color: #C4E7FE;
  background-color: white;
  border: white;
  padding: 5px;
  font-size: 50px;
  font-weight: normal;
  width: 300px;
  /*text-align: center;*/
  /*horiz-align: center;*/
}

.dropbtn {
  display: inline-block;
  color: #62A1F3;
  background: none;
  font-family: "Avenir Next", sans-serif;
  border: none;
  font-size: 20px;
  width: 120px;
  text-align: center;
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
}

.dropbtn:hover {
  text-decoration: underline;
}

.menu {
  position: relative;
  display: inline-block;
  text-align: center;
}

<<<<<<< HEAD
.menu-drop {
    display: none;
    position: absolute;
    background: #777777;
    opacity: .70;
    color: -moz-default-background-color;
    min-width: 100%;
    overflow: auto;
}

.menu-drop a {
    float: none;
    padding: 12px 16px;
    text-align: center;
    display: table-row;
    color: #000000;
    padding: 12px 16px;
    display: block;
    text-align: center;
=======
.menu-drop a {
  float: none;
  color: #406AA1;
  padding: 12px 16px;
  text-align: center;
  display: table-row;
}

.menu-drop {
  display: none;
  position: absolute;
  background: #E8F6FE;
  opacity: 0.7;
  color: -moz-default-background-color;
  min-width: 100%;
  overflow: auto;
}

.menu-drop a {
  float: none;
  color: #AADDFE;
  padding: 12px 16px;
  display: block;
  text-align: center;
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
}

.menu-drop a:hover {
  color: white;
}
.menu:hover .menu-drop {
<<<<<<< HEAD
    display: block;
    color: black;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: white;
    opacity: 60%;
    background-image: url(
    'https://data.whicdn.com/images/137705153/original.gif'
    );
=======
  display: block;
}

.navbar {
  position: relative;
  width: 100%;
  background-color: white;
  opacity: 70%;
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
}

.navbar > .back {
    width: 100%;
}


.contacts {
<<<<<<< HEAD
    font-family: "Comfortaa", sans-serif;
    color: white;
    width: 80%;
    font-size: 20px;
=======
  font-family: "Avenir Next", sans-serif;
  color: white;
  width: 80%;
  font-size: 20px;
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
}

#inquiries {
  font-size: 25px;
}

.contacts a {
  color: white;
}

li:hover {
<<<<<<< HEAD
    background-color: rgba(150, 150, 150, .4);
    color: white;
}

li:hover strong {
    color: blue;
    opacity: 20%;
=======
  background-color: #B0D0E6;
  color: white;
}

li:hover strong {
  color: #D7E9F4;
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
}

p a {
  color: white;
}

li strong {
  color: #87CFFE;
  font-size: larger;
}

/*for small screens*/
@media only screen and (max-width: 600px) {
  .menu-drop {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
  }
  .menu {
    width: 100%;
    background-color: white;
  }
  .menu:hover .menu-drop {
    display: inline-block;
    text-align: left;
    width: 100%;
  }
  .menu .dropbtn {
    text-align: left;
    padding: 10px 0;
    width: 100%;
    background-color: #C6E8FE;
  }
  .menu-drop a {
    text-align: left;
    padding: 10px 0;
    width: 100%;
  }
  #cafe {
    width: 50%;
    horiz-align: center;
    margin-right: 20px;
  }
  .information {
    width: 100%;
  }
  p {
    width: 95%;
  }
}
<<<<<<< HEAD



/* section code */

.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #0081D5 0%,  #0061a0 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;


/*=============================
     section-1 Styles
=============================*/

.section-1 {
    width: 100%;
    padding: 75px 0;
}

.section-1.banner {
	height: 500px;
}

.section-1.header {
	height: 200px;
}

.section-1 .section-title {
	text-align: center;
	padding: 0 10%;
}

.section-1 .col-xs-6 {
	position: absolute;
	top: 25%;
	max-width: 50%;
}

.section-1 .col-xs-6#col-1 {
	left: 10%;
}

.section-1 .col-xs-6#col-2 {
	right: 10%;
	text-align: right;
	padding: 50px;
}

.section-1 h1 {
	color: #545454;
}

.section-1 p {
	font-weight: 300px;
	font-size: 1.25em;
}

.section-1 img {
	width: 40%;
}




/*=============================
     section-4 Styles
=============================*/

.section-4 {
    width: 100%;
    height: auto;
    margin-top: 75px;
}

.section-4 a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.section-4 .row {
	padding: 50px 10%;
	background: #fff;
}
.section-4 .row#comms {
	padding: 50px 10%;
	background-color: #AACEEB;
}
.section-4 .row#finance {
	padding: 50px 10%;
	background-color: rgba(255, 255, 255, .5);

}

.section-4 .row#innovation {
	padding: 50px 10%;
	background-color: rgba(255, 255, 255, .5);

}

.section-4 .row#marketing {
	padding: 50px 10%;
	background-color: rgba(255, 255, 255, .5);

}

.section-4 .row#profdev {
	padding: 50px 10%;
	background-color: rgba(255, 255, 255, .5);

}


.section-4.home .row {
    background: none;
	min-height: 500px;
}

.section-4.home .row#row-1, .section-4 .row#row-5 {
	background: #fff;
}

.section-4.home .row .col-sm-6 {
	margin-top: auto;
	margin-bottom: auto;
}

.section-4.home .row .col-xs-12 {
	text-align: center;
	background: rgba(255, 255, 255, 1);
    padding: 50px 25px;
    margin: 10px;
    max-width: 31%;
}

.section-4 .col-sm-12 {
	text-align: center;
}

.section-4 .col-sm-12 figure {
	padding: 25px;
	width: 50%;
}

.section-4 .row .col-xs-12 {
	padding: 25px 0;
}

.section-4 .row.team .col-xs-12 {
	padding: 25px;
}

.section-4 .row.team img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: 0 33%;
    margin-bottom: 25px;
}

.section-4 h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600px;
    line-height: 40px;
}

.section-4 h1 {
  color: #000;
  font-size: 30px;
  font-weight: 800px;
  line-height: 50px;
  text-align: center;
}

.section-4 .box-1 h2 {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 10px;
}

.section-4 .box-3 {
	text-align: right;
}

.section-4 p {
	font-size: 1.1em;
}

.section-4 .box-6, .section-4 .box-7 {
	margin: auto;
}

.section-4 .box-6 ul.sponsor-list {
	padding: 20px 0;
}

.section-4 .box-6 ul.sponsor-list li {
	display: inline-block;
	margin: 25px;
}

.section-4 .box-6 ul.sponsor-list li img {
	height: 100px;
}

.section-4 .box-6, .section-4 .box-7 h2 {
	text-align: center;
}

.section-4 .box-7 .flex {
	padding: 10px 0;
}

.section-4 .btn-success {
    color: #fff;
    font-size: 18px;
    padding: 5px 20px;
    background-color: #9C76FF;
    border-color: #9C76FF;
}

.section-4 .btn-success:hover,
.section-4 .btn-success.outline:hover,
.btn-success:not(:disabled):not(.disabled):active {
    background-color: #8766DD;
    border: 1px solid #8766DD;
    color: #fff;
}

.section-4 .btn-success.outline {
	color: #9C76FF;
	background: none;
}

.section-4 figure figcaption p {
    font-size: 16px;
    color: black;
    font-weight: 300;
    line-height: 27px;
}

.section-4 .box-1 img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    margin-bottom: 20px;
}

.section-4 .box-2 img,
.section-4 .box-4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.section-4 .box-2 figure,
.section-4 .box-4 figure,
.section-4 .box-6 figure {
    /* margin: 0 0 55px; */
}

.section-4 h4 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}

.section-4 h5 {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
    line-height: 30px;
}
.section-4 i.fa{
  font-size: 25px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 12.5px;
  border-radius: 50%;
  background: #9C76FF;
  box-shadow: 10px 10px 10px rgba(0,0,0,.05);
  }

.section-4 ol > li a:hover {
    color: #AACEEB;
}

.section-4 ul > li a:hover {
    color: #AACEEB;
}


/*********************
** COLUMNS
*********************/


.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}



/**** START ****/

#start {
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, .0);
	background: -webkit-linear-gradient(top, #fff 0%, #fff 50%);
	background: -linear-gradient(top, #fff 0%, #fff 50%);
	background: -moz-linear-gradient(top, #fff 0%, #fff 50%);
}







/*==============================
      //footer Styles //
==============================*/

.page-footer {
width: 100%;
    background-image: url(
    'https://data.whicdn.com/images/137705153/original.gif'
    );
    opacity:60%;
}

.page-footer .box-1 {
    border-right: 1px solid #cccccc;
    padding-top: 75px;
    padding-bottom: 80px;
}

.page-footer .box-2,
.page-footer .box-3,
.page-footer .box-4 {
    padding-top: 75px;
}

.footer-copyright {
    position: relative;
    background: #AACEEB;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 120px;
}

.footer-copyright p {
    font-size: 16px;
    color: 777;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    padding: 40px 0;
    margin-bottom: 0;
}

.footer-copyright p a {
    color: #8dc63f;
}

.page-footer img {
    margin-bottom: 30px;
}

.page-footer h5 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem !important;
}

.page-footer p {
    font-size: 16px;
    font-weight: 300;
    padding-right: 40px;
}

.page-footer ul > li a {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.page-footer ul > li a:hover {
    color: #8dc63f;
}


/*=====================
PETAL ANIMATION
======================*/

#blossom_container {
	background-color: #f1f1f1;
	position: absolute;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

.petal {
	background-img: url(http://talktofill.surge.sh/cherry-blossom.png) no-repeat;
	position: absolute;
    background-repeat: no-repeat;

	width: 45px;
	height: 20px;
	background-position: -31px 0;

	/*
	&.petal-style2 {
		width: 42px;
		height: 22px;
		background-position: 0 -23px;
	}
	&.petal-style3 {
		width: 37px;
		height: 24px;
		background-position: 0 -50px;
	}
	&.petal-style4 {
		width: 26px;
		height: 34px;
		background-position: -49px -35px;
	}*/
}

#petal1 {
    top: 80px;
    left: 200px;
    -webkit-animation: movingclouds 120s linear infinite;
	-moz-animation: movingclouds 120s linear infinite;
	-o-animation: movingclouds 120s linear infinite;
}
=======
>>>>>>> 43fab5bb5b062df3cbb262f868ae68e4992dffce
